<!-- Author: Keith Yeung -->
<!-- Email: keithy@bu.edu -->
<!-- html file to display one content in profile table -->
{% extends 'mini_fb/base.html' %}

{% block content %}
<h1>{{profile.Fname}}</h1>
<main class="grid-container">
  <article class="featured">
    <!-- Display the profile picture if available -->
    <img src="{{ profile.profile_url }}" alt="{{ profile.Fname }}'s profile picture">

    <div>
      <!-- Display the full name -->
      <h4>Name: {{profile.Fname}} {{profile.Lname}}</h4>
      <h4>City: {{profile.city}}</h4>
      <h4>Email: {{profile.email}}</h4>
      <h4><a href="{% url 'create_status' profile.pk %}">
          Add a status message</a>
      </h4>
    </div>
  </article>

  <!-- Show the status messages -->
  <div>
    {% if profile.get_status_message %}
    <h2>Status Message</h2>

    {% for c in profile.get_status_message %}
    <div>
      <strong>by {{profile.Fname}} at {{c.timestamp}}</strong>
      <p>{{c.message}}</p>

      <!-- Display images associated with the status message -->
      {% if c.get_images %}
      <div class="status-images">
        {% for img in c.get_images %}
        <img src="{{ img.image_file.url }}" alt="Image for {{ c.message }}" style="max-width: 200px;">
        {% endfor %}
      </div>
      {% endif %}
    </div>
    {% endfor %}

    {% else %}
    <h2>No Status Message</h2>
    {% endif %}
  </div>
</main>
{% endblock %}